.canvas {
  display: flex;
  background-color: white;
  image-rendering: pixelated;
  touch-action: manipulation;
  outline: none;
  width: 40vw;
  max-width: 40vw;
  aspect-ratio: 1 / 1;
}

#chat-container {
  z-index: 1;
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  top: 20vh;
  background-color: white;
  left: 10px;
  display: flex;
  align-items: stretch;
  transition: all 0.3s ease;
}

#chat-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  background-color: white;
  color: darkslateblue;
  cursor: pointer;
  transition: all 1s ease;
  font-size: 24px;
}

#chat-window {
  width: 300px;
  height: 500px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

#chat-header {
  background-color: darkslateblue;
  color: white;
  padding: 24px 10px 10px 20px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}

#chat-messages {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#chat-input {
  border: none;
  padding: 10px 10px 0px 10px;
  flex-grow: 0.1;
  outline: none;
  font-weight: 500;
  font-size: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.1;
  resize: none;
}

.char-count {
  font-size: 16px;
  padding: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#send-btn {
  background-color: #007bff;
  margin-bottom: 5px;
  margin-right: 10px;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  width: 80px;
  border-radius: 4px;
  align-self: end;
  transition: ease 0.2s;
}

  #send-btn:hover {
    background-color: #0056b3;
  }

#chat-container.hidden {
  transform: translateX(-95%);
}

  #chat-container.hidden #chat-arrow {
    transform: scaleX(-1);
  }

.div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.grid {
  --grid-strength: 0.1px;
  --grid-color: #c7c7c7;
  position: absolute;
  transition: opacity .2s;
  opacity: 0;
  pointer-events: none;
  background-color: transparent;
  transform-origin: top left;
  background-size: 1.5px 1.5px;
  background-image: linear-gradient(to right, var(--grid-color) var(--grid-strength), transparent var(--grid-strength)), linear-gradient(to bottom, var(--grid-color) var(--grid-strength), transparent var(--grid-strength));
}



.body {
  display: flex;
  justify-content: center;
  height: 98vh;
  margin: 0;
}

@media (min-width: 1400px) {
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10vw;
  }

  .username-input-container {
    flex-shrink: 0;
    width: 280px;
  }
}

.disable-selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media (max-width: 1399px) { /* Adjust for mobile or smaller screens */
  .container {
    margin-top: 5vh;
    display: block;
  }

  .div {
    margin-bottom: 3vh;
  }

  .canvas {
    min-width: 65vw;
  }
}

.palette-container {
  position: relative;
  margin-top: 2.5vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
  background-color: #223a70;
  border-radius: 20px;
  padding: 12px 10vw;
  gap: 10px;
}


.rounded {
  border-radius: 0.5rem;
}

.transition {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.leaderboard {
  margin-top: 4vh;
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
}

.leaderboard-header {
  background-color: darkslateblue;
  color: #fff;
  padding: 2.2vh;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.leaderboard-list {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.github-corner {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

  .github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }

  20%, 60% {
    transform: rotate(-25deg);
  }

  40%, 80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}


.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dots {
  margin-top: 16vh;
  font-size: 100px;
  color: white;
  display: flex;
  gap: 24px;
}

.dot {
  animation: blink 1.5s infinite;
}

.progress {
  margin-top: 4vh;
  color: white;
  font-size: 16px;
  text-align: center;
}

.estimate {
  color: white;
  font-size: 14px;
  text-align: center;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 20% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.online-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.online-count {
  font-size: 16px;
  margin-right: 10px;
}

.online-dot {
  width: 12px;
  height: 12px;
  background-color: #24ff43;
  border-radius: 50%;
  animation: breathing 1.5s infinite ease-in-out;
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
