.canvas {
  display: block;
  background-color: white;
  image-rendering: pixelated;
  touch-action: manipulation;
  outline: none;
  border-radius: 10px;
}


.body {
  display: flex;
  justify-content: center;
  height: 98vh;
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }


  .username-input-container {
    flex-shrink: 0;
    margin-top: 12vh;
    width: 280px; /* Adjust width as needed */
  }
}

@media (max-width: 1199px) { /* Adjust for mobile or smaller screens */
  .container {
    display: block;
    text-align: center;
  }

  #div {
    margin-bottom: 1rem;
  }
}

.palette-container {
  background-color: #223a70;
  border-radius: 20px;
  padding: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.rounded {
  border-radius: 0.5rem;
}

.transition {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.leaderboard {
  margin-top: 4vh;
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.leaderboard-header {
  background-color: #4CAF50;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.leaderboard-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
