@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  background-color: #111827 !important;
}

.disable-selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.2rem;
}

  .leaderboard-item:nth-child(odd) {
    background-color: #f9f9f9;
  }

  .leaderboard-item span {
    font-weight: bold;
  }

  .leaderboard-item .position {
    font-weight: normal;
    padding-right: 10px;
    color: #888;
  }

  .leaderboard-item .name {
    flex-grow: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
  }

  .leaderboard-item .score {
    text-align: right;
    color: #4CAF50;
    line-height: 0.65;
    font-size: 12px;
    text-align: center;
  }

  .leaderboard-item:first-child .name,
  .leaderboard-item:first-child .score {
    color: #8048fa;
  }
